@{
    ViewData["Title"] = "Sign In";
}

<div class="text-center">
    <label class="color-red">Vulnerable for SQL Injection</label>
    <form asp-action="SignIn">
        <label>
            Username:
            <input name="username" type="text" class="form-control" />
        </label>
        <br />
        <label>
            Password:
            <input name="password" type="password" class="form-control" />
        </label>
        <br />
        <input type="submit" value="Sign in" class="btn btn-default margin-top-10" />
    </form>
    <br />
    <hr />
    <br />
    <label class="color-green"> Not vulnerable for SQL Injection (StoreProcedure)</label>
    <form asp-action="SignIn2">
        <label>
            Username:
            <input name="username" type="text" class="form-control" />
        </label>
        <br />
        <label>
            Password:
            <input name="password" type="password" class="form-control" />
        </label>
        <br />
        <input type="submit" value="Sign in" class="btn btn-default margin-top-10" />
    </form>
    <br />
    <hr />
    <br />
    <label class="color-green"> Not vulnerable for SQL Injection (EntityFramework)</label>
    <form asp-action="SignIn3">
        <label>
            Username:
            <input name="username" type="text" class="form-control" />
        </label>
        <br />
        <label>
            Password:
            <input name="password" type="password" class="form-control" />
        </label>
        <br />
        <input type="submit" value="Sign in" class="btn btn-default margin-top-10" />
    </form>
    <br />
    <hr />
    <br />
    <label class="color-orange"> Low vulnerable for SQL Injection (Character Escaping)</label>
    <form asp-action="SignIn4">
        <label>
            Username:
            <input name="username" type="text" class="form-control" />
        </label>
        <br />
        <label>
            Password:
            <input name="password" type="password" class="form-control" />
        </label>
        <br />
        <input type="submit" value="Sign in" class="btn btn-default margin-top-10" />
    </form>
    <br />
    <a href="/Users/SignUp">Sign up</a>
</div>